.u-section-1 .u-sheet-1 {
  min-height: 1029px;
}

.u-section-1 .u-text-1 {
  margin: 55px 380px 0 auto;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 55px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 316px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 316px;
}

.u-section-1 .u-image-1 {
  width: 691px;
  height: 346px;
  margin: 55px auto 0 -20px;
}

.u-section-1 .u-text-5 {
  margin: -298px 206px 0 611px;
}

.u-section-1 .u-text-6 {
  margin: -21px 236px 0 584px;
}

.u-section-1 .u-text-7 {
  margin: -8px 345px 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 8px 329px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 7px 123px 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 390px auto 60px 109px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 313px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -331px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -73px;
    margin-left: 261px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 459px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -313px;
    margin-right: 106px;
    margin-left: 511px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 136px;
    margin-left: 484px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 271px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 240px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 200px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 200px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 397px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 26px;
    margin-left: 374px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 218px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 180px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -431px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -49px;
    margin-left: 150px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 270px;
    margin-top: 535px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 217px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 113px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -507px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -73px;
    margin-left: 94px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 170px;
    margin-top: 578px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 17px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 103px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 98px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 77px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 404px;
}

.u-section-2 .u-text-1 {
  margin: 9px auto 0 109px;
}

.u-section-2 .u-text-2 {
  margin: 9px auto 60px 111px;
}.u-section-3 .u-sheet-1 {
  min-height: 546px;
}

.u-section-3 .u-image-1 {
  width: 723px;
  height: 507px;
  margin: -569px 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 335px 428px 0 620px;
}

.u-section-3 .u-text-2 {
  margin: 0 471px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 12px 466px 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 21px 344px 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 14px 471px 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 12px 466px 42px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 328px;
    margin-left: 520px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 388px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 384px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 283px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 388px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 384px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 505px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 218px;
    margin-left: 410px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 297px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 294px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 217px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 297px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 379px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 128px;
    margin-left: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 223px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 221px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 163px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 223px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 239px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 28px;
    margin-left: 220px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 140px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 139px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 103px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 140px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 139px;
  }
} .u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 666px;
}

.u-section-4 .u-image-1 {
  width: 593px;
  height: 593px;
  margin: -385px auto 60px -46px;
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 468px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 762px;
  margin: -344px 275px 50px auto;
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 722px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 455px;
  }
}