@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
   margin: 0;
   padding: 0;
}
body{
    font-family: 'Crimson';
    text-align: center;
}
.wrapper
   width: 90%;
   margin: 0 auto;
