.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  margin: 31px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1222px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 763px;
  margin: 178px 270px 60px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1181px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 722px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 455px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1286px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 763px;
  margin: -254px 266px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 760px;
  margin: 17px 264px 0 auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-right: 150px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 722px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 720px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 455px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 453px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 760px;
  margin: 22px 264px 60px auto;
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 720px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 453px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 487px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 760px;
  margin: -280px 263px 7px auto;
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 720px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 453px;
  }
}